qa-reports/R03/rebuilt-pip.json
{
  "name": "QA-R03-Purchase-Invoice-Processor-Rebuild",
  "nodes": [
    {
      "id": "r03-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "qa/r03",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "qa-r03-pip-001"
    },
    {
      "id": "r03-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "parameters": {
        "respondWith": "noData",
        "options": {}
      }
    },
    {
      "id": "r03-const",
      "name": "Constants",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 300],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "c-baseUrl",
              "name": "weclappBaseUrl",
              "value": "https://testhandel.weclapp.com/webapp/api/v1",
              "type": "string"
            },
            {
              "id": "c-pageSize",
              "name": "pageSize",
              "value": "5",
              "type": "string"
            },
            {
              "id": "c-emails",
              "name": "recipientEmails",
              "value": "markus@wals.pro",
              "type": "string"
            },
            {
              "id": "c-confidence",
              "name": "minConfidence",
              "value": "0.8",
              "type": "string"
            },
            {
              "id": "c-attrReview",
              "name": "attributeIdReview",
              "value": "966667",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "r03-get-invoices",
      "name": "GET: Unbooked Invoices",
      "type": "n8n-nodes-weclapp.weclapp",
      "typeVersion": 1,
      "position": [780, 300],
      "parameters": {
        "resource": "purchaseInvoice",
        "operation": "list",
        "returnAll": false,
        "limit": 5,
        "filters": {
          "filter": [
            {
              "field": "status",
              "operator": "in",
              "value": "[\"NEW\",\"INVOICE_RECEIVED\"]"
            },
            {
              "field": "createdDate",
              "operator": "ge",
              "value": "={{ Date.now() - 90 * 86400000 }}"
            }
          ]
        },
        "additionalFields": {
          "properties": "id,invoiceNumber,internalInvoiceNumber,status,grossAmount,netAmount,grossPrices,supplierId,invoiceDate,dueDate,purchaseInvoiceItems,purchaseInvoiceType,recordAddress,paymentStatus,createdViaOcr,vatRegistrationNumber,version"
        }
      },
      "credentials": {
        "weclappApi": {
          "id": "jebRfSixFZZxu8qH",
          "name": "testhandel"
        }
      },
      "notes": "REBUILT: was httpRequest GET /purchaseInvoice. Converted to weclapp node purchaseInvoice.list. GAP: sort=-createdDate not available in node. GAP: customAttribute966667-ne=true filter removed (custom attr filters not supported in filtersCollection field names)."
    },
    {
      "id": "r03-split",
      "name": "Code: Split Invoices",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300],
      "parameters": {
        "jsCode": "// Input is already an array of invoice items from weclapp node list (rootProperty extracted)\n// The weclapp node returns items directly (not wrapped in .result)\nconst items = $input.all();\nif (items.length === 0) return [];\n\nconst result = items.filter(item => {\n  const inv = item.json;\n  return !(inv.internalInvoiceNumber || '').startsWith('DUP-');\n});\n\nif (result.length === 0) return [];\n\nreturn result.map((item, index) => {\n  const inv = item.json;\n  return {\n    json: {\n      id: inv.id,\n      invoiceNumber: inv.invoiceNumber || '',\n      internalInvoiceNumber: inv.internalInvoiceNumber || '',\n      status: inv.status,\n      grossAmount: inv.grossAmount || 0,\n      netAmount: inv.netAmount || 0,\n      supplierId: inv.supplierId || '',\n      invoiceDate: inv.invoiceDate,\n      dueDate: inv.dueDate,\n      supplier: inv.recordAddress?.company || inv.recordAddress?.lastName || '',\n      supplierVat: inv.vatRegistrationNumber || '',\n      recordAddress: inv.recordAddress || {},\n      itemCount: (inv.purchaseInvoiceItems || []).length,\n      items: (inv.purchaseInvoiceItems || []).map(item => ({\n        id: item.id,\n        version: item.version,\n        title: item.title || '',\n        quantity: item.quantity,\n        unitPrice: item.unitPrice,\n        netAmount: item.netAmount,\n        grossAmount: item.grossAmount,\n        taxId: item.taxId\n      })),\n      version: inv.version,\n      createdViaOcr: inv.createdViaOcr || false,\n      grossPrices: inv.grossPrices || false\n    },\n    pairedItem: { item: index }\n  };\n});"
      },
      "notes": "MODIFIED from source: adapted for weclapp node list output (items already unwrapped from result array). Added pairedItem. Source used $input.first().json.result - not needed with weclapp node."
    },
    {
      "id": "r03-batch",
      "name": "Process One at a Time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1280, 300],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "r03-find-supplier",
      "name": "Code: Find & Assign Supplier",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1480, 300],
      "parameters": {
        "jsCode": "// ANTI-PATTERN NOTE: This Code node uses httpRequestWithAuthentication internally.\n// Per project memory, this is unreliable. Flagged as HIGH bug in QA report.\n// In a proper rebuild, this should be split into: GET party list (weclapp node) + Code + PUT update.\n// Kept as-is to preserve workflow structure for QA analysis.\n\nconst invoice = $input.first().json;\nconst baseUrl = 'https://testhandel.weclapp.com/webapp/api/v1';\n\n// Already has supplier? Pass through\nif (invoice.supplierId) {\n  return [{ json: { ...invoice, supplierAction: 'existing' }, pairedItem: { item: 0 } }];\n}\n\n// No supplier - try to find one\nconst company = invoice.supplier || invoice.recordAddress?.company || '';\nif (!company) {\n  return [{ json: { ...invoice, supplierAction: 'no_company_name' }, pairedItem: { item: 0 } }];\n}\n\n// Search by company name (ilike = case-insensitive contains)\nconst searchTerm = company.trim();\nlet parties = [];\ntry {\n  const searchUrl = `${baseUrl}/party?company-ilike=${encodeURIComponent(searchTerm)}&supplier=true&pageSize=5&properties=id,company,supplierNumber,vatIdentificationNumber`;\n  const response = await this.helpers.httpRequestWithAuthentication.call(this, 'weclappApi', {\n    method: 'GET',\n    url: searchUrl,\n    json: true\n  });\n  parties = response.result || [];\n} catch (e) {\n  return [{ json: { ...invoice, supplierAction: 'search_error', supplierError: e.message }, pairedItem: { item: 0 } }];\n}\n\nif (parties.length === 1) {\n  const party = parties[0];\n  return [{ json: {\n    ...invoice,\n    supplierId: String(party.id),\n    supplier: party.company || invoice.supplier,\n    supplierAction: 'assigned',\n    supplierMatch: party.company\n  }, pairedItem: { item: 0 } }];\n} else if (parties.length > 1) {\n  const candidates = parties.map(p => p.company + ' (' + (p.supplierNumber || p.id) + ')').join(', ');\n  return [{ json: { ...invoice, supplierAction: 'multiple_matches', supplierCandidates: candidates }, pairedItem: { item: 0 } }];\n} else {\n  return [{ json: { ...invoice, supplierAction: 'not_found' }, pairedItem: { item: 0 } }];\n}"
      },
      "credentials": {
        "weclappApi": {
          "id": "jebRfSixFZZxu8qH",
          "name": "testhandel"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "MODIFIED: credential type changed from httpHeaderAuth to weclappApi. httpRequestWithAuthentication kept (anti-pattern, see bug report). Removed web search fallback + party creation (would create real testhandel records - DRY-RUN LIMITATION)."
    },
    {
      "id": "r03-if-need-online",
      "name": "IF: Supplier Not Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1680, 300],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "need-online",
              "leftValue": "={{ $json.supplierAction }}",
              "rightValue": "not_found",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "r03-skip-websearch",
      "name": "Code: Skip Web Search (Dry Run)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1880, 200],
      "parameters": {
        "jsCode": "// DRY-RUN LIMITATION: Web search + party creation disabled.\n// In production this calls Claude web_search and creates a new supplier.\n// Skipped here to avoid creating real testhandel records.\nconst invoice = $input.first().json;\nreturn [{ json: { ...invoice, supplierAction: 'websearch_skipped', skipAi: false }, pairedItem: { item: 0 } }];"
      },
      "notes": "REPLACED: Source had Code: Prepare Supplier Search + POST: Claude Web Search + Code: Parse & Create Supplier. Replaced with no-op stub per dry-run guardrail (would create real testhandel party records)."
    },
    {
      "id": "r03-get-pdf",
      "name": "GET: Invoice PDF",
      "type": "n8n-nodes-weclapp.weclapp",
      "typeVersion": 1,
      "position": [2100, 300],
      "parameters": {
        "resource": "purchaseInvoice",
        "operation": "downloadLatestPurchaseInvoiceDocument",
        "purchaseInvoiceId": "={{ $json.id }}"
      },
      "credentials": {
        "weclappApi": {
          "id": "jebRfSixFZZxu8qH",
          "name": "testhandel"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "onError": "continueRegularOutput",
      "notes": "REBUILT: was httpRequest GET /purchaseInvoice/id/{id}/downloadLatestPurchaseInvoiceDocument. Converted to weclapp node downloadLatestPurchaseInvoiceDocument. Binary output via binaryProperty=data."
    },
    {
      "id": "r03-prepare-ai",
      "name": "Code: Prepare AI Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2300, 300],
      "parameters": {
        "jsCode": "// Get invoice data from whichever supplier path ran\nlet invoice;\ntry {\n  invoice = $('Code: Skip Web Search (Dry Run)').item.json;\n  if (!invoice.id) throw new Error('no id');\n} catch {\n  invoice = $('Code: Find & Assign Supplier').item.json;\n}\nconst pdfItem = $input.first();\n\nconst result = {\n  id: invoice.id,\n  invoiceNumber: invoice.invoiceNumber || invoice.internalInvoiceNumber || '-',\n  supplier: invoice.supplier || invoice.supplierMatch || 'Unbekannt',\n  grossAmount: parseFloat(invoice.grossAmount) || 0,\n  netAmount: parseFloat(invoice.netAmount) || 0,\n  status: invoice.status,\n  supplierId: invoice.supplierId || '',\n  supplierAction: invoice.supplierAction || '',\n  supplierCandidates: invoice.supplierCandidates || '',\n  items: invoice.items || [],\n  itemCount: invoice.itemCount || 0,\n  version: invoice.version,\n  grossPrices: invoice.grossPrices || false,\n  createdViaOcr: invoice.createdViaOcr || false\n};\n\n// No PDF?\nif (pdfItem.json.error || !pdfItem.binary?.data) {\n  return [{ json: { ...result, skipAi: true, statusResult: 'no_pdf', aiSummary: 'Kein PDF in weclapp', aiIssues: [] }, pairedItem: { item: 0 } }];\n}\n\nconst binaryData = await this.helpers.getBinaryDataBuffer.call(this, 0, 'data');\n\n// ZugFerd / e-Invoice detection\nconst pdfRaw = binaryData.toString('latin1');\nconst hasZugFerd = /factur-x\\.xml|zugferd-invoice\\.xml|CrossIndustryInvoice|urn:factur-x|urn:zugferd/i.test(pdfRaw);\nconst isEInvoice = hasZugFerd && !result.createdViaOcr;\nif (isEInvoice) {\n  if (!result.supplierId) {\n    return [{ json: { ...result, skipAi: true, isEInvoice: false, statusResult: 'review', shouldBook: false, aiSummary: 'E-Invoice (ZugFerd) aber kein Kreditor zugeordnet', aiIssues: ['kein_kreditor'], needsItemCorrection: false }, pairedItem: { item: 0 } }];\n  }\n  return [{ json: { ...result, skipAi: true, isEInvoice: true, statusResult: 'verified', shouldBook: true, aiSummary: 'E-Invoice (ZugFerd) - direkt gebucht', aiIssues: [], needsItemCorrection: false }, pairedItem: { item: 0 } }];\n}\n\nconst pdfBase64 = binaryData.toString('base64');\n\nconst anthropicBody = {\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 2048,\n  system: 'Du extrahierst strukturierte Daten aus Rechnungs-PDFs. Antworte NUR mit JSON, kein Markdown, keine Erklaerung.',\n  messages: [{\n    role: 'user',\n    content: [\n      { type: 'document', source: { type: 'base64', media_type: 'application/pdf', data: pdfBase64 } },\n      { type: 'text', text: 'Extrahiere alle Rechnungsdaten. Antworte mit JSON-Schema: {\"issuerName\":\"...\",\"issuerVat\":\"...\",\"grossAmount\":0,\"netAmount\":0,\"invoiceNumber\":\"...\",\"invoiceDate\":\"YYYY-MM-DD\",\"lineItems\":[],\"confidence\":0.0}' }\n    ]\n  }]\n};\n\nreturn [{ json: { ...result, anthropicBody: JSON.stringify(anthropicBody), skipAi: false }, pairedItem: { item: 0 } }];"
      },
      "notes": "MODIFIED: adapted node reference from 'Code: Parse & Create Supplier' to 'Code: Skip Web Search (Dry Run)' for rebuilt flow."
    },
    {
      "id": "r03-if-einvoice",
      "name": "IF: Is E-Invoice",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2500, 300],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "einvoice-check",
              "leftValue": "={{ $json.isEInvoice }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "r03-einvoice-book",
      "name": "PUT: E-Invoice Book",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2700, 200],
      "parameters": {
        "method": "PUT",
        "url": "=https://testhandel.weclapp.com/webapp/api/v1/purchaseInvoice/id/{{ $('Code: Prepare AI Request').item.json.id }}?ignoreMissingProperties=true",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"status\": \"ENTRY_COMPLETED\" }",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "jebRfSixFZZxu8qH",
          "name": "testhandel"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput",
      "notes": "CANNOT REBUILD: purchaseInvoice.update node does not expose 'status' field in body. Retargeted to testhandel. GAP: status transitions require raw body - not in weclapp node schema."
    },
    {
      "id": "r03-einvoice-checked",
      "name": "PUT: E-Invoice Checked",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2900, 200],
      "parameters": {
        "method": "PUT",
        "url": "=https://testhandel.weclapp.com/webapp/api/v1/purchaseInvoice/id/{{ $('Code: Prepare AI Request').item.json.id }}?ignoreMissingProperties=true",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"status\": \"INVOICE_CHECKED\" }",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "jebRfSixFZZxu8qH",
          "name": "testhandel"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput",
      "notes": "CANNOT REBUILD: status field not in weclapp node update body."
    },
    {
      "id": "r03-einvoice-op",
      "name": "PUT: E-Invoice OP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3100, 200],
      "parameters": {
        "method": "PUT",
        "url": "=https://testhandel.weclapp.com/webapp/api/v1/purchaseInvoice/id/{{ $('Code: Prepare AI Request').item.json.id }}?ignoreMissingProperties=true",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"status\": \"OPEN_ITEM_CREATED\" }",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "jebRfSixFZZxu8qH",
          "name": "testhandel"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput",
      "notes": "CANNOT REBUILD: status field not in weclapp node update body."
    },
    {
      "id": "r03-einvoice-booked",
      "name": "Code: E-Invoice Booked",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3300, 200],
      "parameters": {
        "jsCode": "const data = $('Code: Prepare AI Request').item.json;\nreturn [{ json: { ...data, statusResult: 'booked' }, pairedItem: { item: 0 } }];"
      }
    },
    {
      "id": "r03-if-skip",
      "name": "IF: Has PDF for AI",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2700, 400],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skipAi }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "r03-claude",
      "name": "POST: Claude Vision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2900, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.anthropicBody }}",
        "options": { "timeout": 60000 }
      },
      "credentials": {
        "anthropicApi": {
          "id": "AfURgcHh1hqZMWee",
          "name": "Anthropic account"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput",
      "notes": "NOT CONVERTED: Anthropic API call - stays as httpRequest (not weclapp)."
    },
    {
      "id": "r03-parse-ai",
      "name": "Code: Parse AI & Prepare Corrections",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3100, 300],
      "parameters": {
        "jsCode": "const aiResponse = $input.first().json;\nconst invoice = $('Code: Prepare AI Request').item.json;\nconst minConfidence = parseFloat($('Constants').first().json.minConfidence) || 0.8;\n\nconst result = {\n  id: invoice.id,\n  invoiceNumber: invoice.invoiceNumber,\n  supplier: invoice.supplier,\n  grossAmount: invoice.grossAmount,\n  netAmount: invoice.netAmount,\n  status: invoice.status,\n  supplierId: invoice.supplierId,\n  supplierAction: invoice.supplierAction,\n  supplierCandidates: invoice.supplierCandidates || '',\n  items: invoice.items || [],\n  version: invoice.version\n};\n\nlet pdf = null;\ntry {\n  if (aiResponse.error) throw new Error(aiResponse.error.message || 'API error');\n  const text = (aiResponse.content || [])[0]?.text || '';\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  pdf = match ? JSON.parse(match[0]) : null;\n} catch (e) {\n  return [{ json: { ...result, statusResult: 'review', aiSummary: 'AI Parse-Fehler: ' + e.message, aiIssues: ['ai_error'], shouldBook: false, needsItemCorrection: false }, pairedItem: { item: 0 } }];\n}\n\nif (!pdf) {\n  return [{ json: { ...result, statusResult: 'review', aiSummary: 'Keine Daten aus PDF extrahiert', aiIssues: ['no_extraction'], shouldBook: false, needsItemCorrection: false }, pairedItem: { item: 0 } }];\n}\n\nconst confident = (pdf.confidence || 0) >= minConfidence;\nresult.pdfData = pdf;\nresult.pdfIssuerName = pdf.issuerName || '';\nresult.pdfIssuerVat = pdf.issuerVat || '';\nresult.grossAmountPdf = pdf.grossAmount;\nresult.aiConfidence = pdf.confidence;\n\nif (!confident) {\n  return [{ json: { ...result, statusResult: 'review', aiSummary: 'Confidence zu niedrig: ' + pdf.confidence, aiIssues: ['low_confidence'], shouldBook: false, needsItemCorrection: false }, pairedItem: { item: 0 } }];\n}\n\n// Compare line items\nconst erpItems = invoice.items || [];\nconst pdfItems = pdf.lineItems || [];\nconst taxMap = { 20: '3097', 10: '3098', 13: '3099', 0: '3100' };\nlet needsCorrection = false;\nconst correctedItems = erpItems.map((erp, idx) => {\n  const pdfItem = pdfItems[idx] || null;\n  const corrected = { id: erp.id, version: erp.version };\n  let changed = false;\n  if (pdfItem) {\n    if (pdfItem.title && pdfItem.title !== erp.title) { corrected.title = pdfItem.title; changed = true; }\n    if (pdfItem.quantity != null && Math.abs(pdfItem.quantity - erp.quantity) > 0.001) { corrected.quantity = pdfItem.quantity; changed = true; }\n    if (pdfItem.unitPrice != null && Math.abs(pdfItem.unitPrice - erp.unitPrice) > 0.01) { corrected.unitPrice = pdfItem.unitPrice; changed = true; }\n    if (pdfItem.netAmount != null && Math.abs(pdfItem.netAmount - erp.netAmount) > 0.01) { corrected.netAmount = pdfItem.netAmount; changed = true; }\n    if (pdfItem.grossAmount != null && Math.abs(pdfItem.grossAmount - erp.grossAmount) > 0.01) { corrected.grossAmount = pdfItem.grossAmount; changed = true; }\n    if (pdfItem.vatRate != null && taxMap[pdfItem.vatRate] && taxMap[pdfItem.vatRate] !== erp.taxId) { corrected.taxId = taxMap[pdfItem.vatRate]; changed = true; }\n  }\n  if (!erp.taxId) needsCorrection = true;\n  if (changed) needsCorrection = true;\n  return changed ? corrected : { id: erp.id, version: erp.version };\n});\n\nresult.needsItemCorrection = needsCorrection;\nresult.correctedItems = correctedItems;\nresult.needsPartyCreation = false; // Dry-run: skip party creation\n\nreturn [{ json: result, pairedItem: { item: 0 } }];"
      },
      "notes": "MODIFIED: simplified from source - removed party creation logic (dry-run). Added pairedItem."
    },
    {
      "id": "r03-get-search-party",
      "name": "GET: Search Party by PDF Name",
      "type": "n8n-nodes-weclapp.weclapp",
      "typeVersion": 1,
      "position": [3300, 300],
      "parameters": {
        "resource": "party",
        "operation": "list",
        "returnAll": false,
        "limit": 5,
        "filters": {
          "filter": [
            {
              "field": "company",
              "operator": "ilike",
              "value": "={{ $json.pdfIssuerName || $json.supplier || '' }}"
            },
            {
              "field": "supplier",
              "operator": "eq",
              "value": "true"
            }
          ]
        },
        "additionalFields": {
          "properties": "id,company,supplierNumber,vatIdentificationNumber"
        }
      },
      "credentials": {
        "weclappApi": {
          "id": "jebRfSixFZZxu8qH",
          "name": "testhandel"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "REBUILT: was httpRequest GET /party?company-ilike=...&supplier=true. Converted to weclapp node party.list with ilike + eq filters."
    },
    {
      "id": "r03-if-correct",
      "name": "IF: Items to Correct",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [3500, 300],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "correct-check",
              "leftValue": "={{ $json.needsItemCorrection }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "r03-put-items",
      "name": "PUT: Correct Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3700, 200],
      "parameters": {
        "method": "PUT",
        "url": "=https://testhandel.weclapp.com/webapp/api/v1/purchaseInvoice/id/{{ $json.id }}?ignoreMissingProperties=true",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ purchaseInvoiceItems: $json.correctedItems }) }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "jebRfSixFZZxu8qH",
          "name": "testhandel"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput",
      "notes": "CANNOT REBUILD: purchaseInvoiceItems not in weclapp node update body fields. Retargeted to testhandel."
    },
    {
      "id": "r03-reset-taxes",
      "name": "POST: Reset Taxes",
      "type": "n8n-nodes-weclapp.weclapp",
      "typeVersion": 1,
      "position": [3900, 200],
      "parameters": {
        "resource": "purchaseInvoice",
        "operation": "resetTaxes",
        "purchaseInvoiceId": "={{ $('Code: Parse AI & Prepare Corrections').item.json.id }}"
      },
      "credentials": {
        "weclappApi": {
          "id": "jebRfSixFZZxu8qH",
          "name": "testhandel"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "onError": "continueRegularOutput",
      "notes": "REBUILT: was httpRequest POST /purchaseInvoice/id/{id}/resetTaxes. Converted to weclapp node purchaseInvoice.resetTaxes."
    },
    {
      "id": "r03-get-refreshed",
      "name": "GET: Refreshed Invoice",
      "type": "n8n-nodes-weclapp.weclapp",
      "typeVersion": 1,
      "position": [4100, 200],
      "parameters": {
        "resource": "purchaseInvoice",
        "operation": "get",
        "purchaseInvoiceId": "={{ $('Code: Parse AI & Prepare Corrections').item.json.id }}",
        "additionalFields": {
          "properties": "id,grossAmount,netAmount,grossPrices,version,purchaseInvoiceItems"
        }
      },
      "credentials": {
        "weclappApi": {
          "id": "jebRfSixFZZxu8qH",
          "name": "testhandel"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "onError": "continueRegularOutput",
      "notes": "REBUILT: was httpRequest GET /purchaseInvoice/id/{id}. Converted to weclapp node purchaseInvoice.get with properties in additionalFields."
    },
    {
      "id": "r03-rules",
      "name": "Code: Rules Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4300, 300],
      "parameters": {
        "jsCode": "// Minimal rules engine for QA test - reads from Parse AI result\nlet prev;\ntry { prev = { ...$('Code: Parse AI & Prepare Corrections').item.json }; }\ncatch { prev = $input.first().json; }\n\n// Respect early exits\nif (prev.statusResult && prev.statusResult !== 'verified' && prev.shouldBook === false) {\n  return [{ json: { ...prev, itemsCorrected: prev.needsItemCorrection || false }, pairedItem: { item: 0 } }];\n}\n\nlet erpGross = parseFloat(prev.grossAmount) || 0;\nlet erpNet = parseFloat(prev.netAmount) || 0;\nlet version = prev.version;\n\nif (prev.needsItemCorrection) {\n  try {\n    const refreshed = $('GET: Refreshed Invoice').item.json;\n    erpGross = parseFloat(refreshed.grossAmount) || erpGross;\n    erpNet = parseFloat(refreshed.netAmount) || erpNet;\n    version = refreshed.version || version;\n  } catch (e) {}\n}\n\nconst pdf = prev.pdfData || {};\nconst pdfGross = parseFloat(pdf.grossAmount);\nconst pdfNet = parseFloat(pdf.netAmount);\nconst amountMatch = !isNaN(pdfGross) && (\n  Math.abs(pdfGross - erpGross) <= 0.05 ||\n  (!isNaN(pdfNet) && Math.abs(pdfNet - erpNet) <= 0.05)\n);\n\nconst pdfInvNr = String(pdf.invoiceNumber || '').trim();\nconst erpInvNr = String(prev.invoiceNumber || '').trim();\nconst erpIsInternal = erpInvNr.startsWith('PI');\nconst invNrMatch = (pdfInvNr && erpInvNr && (pdfInvNr === erpInvNr || pdfInvNr.includes(erpInvNr) || erpInvNr.includes(pdfInvNr))) || erpIsInternal || !pdfInvNr;\n\nconst issues = [];\nif (!amountMatch) issues.push('Betrag: PDF=' + (pdf.grossAmount || '?') + ' vs ERP=' + erpGross);\nif (!invNrMatch) issues.push('RechNr: PDF=' + pdfInvNr + ' vs ERP=' + erpInvNr);\nif (!prev.supplierId) issues.push('Kein Kreditor zugeordnet');\n\n// DRY-RUN: never set shouldBook=true to prevent actual bookings on testhandel\nconst verified = amountMatch && invNrMatch && issues.length === 0;\nconst shouldBook = false; // DRY-RUN OVERRIDE\n\nreturn [{ json: {\n  id: prev.id,\n  invoiceNumber: prev.invoiceNumber,\n  supplier: prev.supplier,\n  grossAmount: erpGross,\n  netAmount: erpNet,\n  status: prev.status,\n  supplierId: prev.supplierId,\n  supplierAction: prev.supplierAction,\n  itemsCorrected: prev.needsItemCorrection || false,\n  version: version,\n  aiConfidence: prev.aiConfidence,\n  statusResult: verified ? 'verified' : 'review',\n  shouldBook: shouldBook,\n  aiSummary: verified\n    ? '[DRY-RUN] OK: Betrag ' + pdfGross + ' EUR, RechNr OK, Conf ' + prev.aiConfidence\n    : issues.join('; '),\n  aiIssues: issues,\n  grossAmountPdf: pdf.grossAmount,\n  dryRunNote: 'shouldBook forced to false - no real booking on testhandel'\n}, pairedItem: { item: 0 } }];"
      },
      "notes": "MODIFIED: shouldBook forced to false (DRY-RUN GUARDRAIL - no real booking on testhandel). Added pairedItem."
    },
    {
      "id": "r03-if-book",
      "name": "IF: Should Book",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [4500, 300],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "book-check",
              "leftValue": "={{ $json.shouldBook }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "notes": "shouldBook is always false in dry-run - this branch will never execute TRUE path."
    },
    {
      "id": "r03-put-status",
      "name": "PUT: Book to OP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4700, 200],
      "parameters": {
        "method": "PUT",
        "url": "=https://testhandel.weclapp.com/webapp/api/v1/purchaseInvoice/id/{{ $json.id }}?ignoreMissingProperties=true",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"status\": \"ENTRY_COMPLETED\" }",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "jebRfSixFZZxu8qH",
          "name": "testhandel"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput",
      "notes": "CANNOT REBUILD: status field not in weclapp node update body. Never reached in dry-run."
    },
    {
      "id": "r03-put-status-checked",
      "name": "PUT: Status Checked",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4900, 200],
      "parameters": {
        "method": "PUT",
        "url": "=https://testhandel.weclapp.com/webapp/api/v1/purchaseInvoice/id/{{ $('Code: Rules Engine').item.json.id }}?ignoreMissingProperties=true",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"status\": \"INVOICE_CHECKED\" }",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "jebRfSixFZZxu8qH",
          "name": "testhandel"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput",
      "notes": "CANNOT REBUILD: status field not in weclapp node update body."
    },
    {
      "id": "r03-put-status-op",
      "name": "PUT: Status OP Created",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5100, 200],
      "parameters": {
        "method": "PUT",
        "url": "=https://testhandel.weclapp.com/webapp/api/v1/purchaseInvoice/id/{{ $('Code: Rules Engine').item.json.id }}?ignoreMissingProperties=true",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"status\": \"OPEN_ITEM_CREATED\" }",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "jebRfSixFZZxu8qH",
          "name": "testhandel"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput",
      "notes": "CANNOT REBUILD: status field not in weclapp node update body."
    },
    {
      "id": "r03-set-booked",
      "name": "Code: Set Booked",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5100, 300],
      "parameters": {
        "jsCode": "const rulesData = $('Code: Rules Engine').item.json;\nreturn [{ json: { ...rulesData, statusResult: 'booked' }, pairedItem: { item: 0 } }];"
      }
    },
    {
      "id": "r03-put-review",
      "name": "PUT: Set Review Flag",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4700, 400],
      "parameters": {
        "method": "PUT",
        "url": "=https://testhandel.weclapp.com/webapp/api/v1/purchaseInvoice/id/{{ $json.id }}?ignoreMissingProperties=true",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"customAttributes\": [{ \"attributeDefinitionId\": \"{{ $('Constants').first().json.attributeIdReview }}\", \"booleanValue\": true }] }",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "jebRfSixFZZxu8qH",
          "name": "testhandel"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "CANNOT REBUILD: customAttributes not in weclapp node update body fields."
    },
    {
      "id": "r03-restore-review",
      "name": "Code: Restore After Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4900, 400],
      "parameters": {
        "jsCode": "let data;\ntry { data = $('Code: Rules Engine').item.json; }\ncatch { try { data = $('Code: Prepare AI Request').item.json; } catch { data = $input.first().json; } }\nreturn [{ json: { ...data, statusResult: data.statusResult || 'review' }, pairedItem: { item: 0 } }];"
      }
    },
    {
      "id": "r03-collect",
      "name": "Code: Collect & Summarize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5300, 300],
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst booked = [], review = [], noPdf = [], errors = [];\nconst supplierAssigned = [], supplierCreated = [], supplierMissing = [], itemsCorrected = [];\n\nfor (const item of items) {\n  const d = item.json;\n  const entry = {\n    invoiceNumber: d.invoiceNumber || d.internalInvoiceNumber || '-',\n    supplier: d.supplier || 'Unbekannt',\n    grossAmount: d.grossAmount || 0,\n    aiSummary: d.aiSummary || '',\n    aiIssues: d.aiIssues || [],\n    supplierAction: d.supplierAction || '',\n    itemsCorrected: d.itemsCorrected || false\n  };\n\n  if (d.supplierAction === 'assigned') supplierAssigned.push(entry);\n  if (d.supplierAction === 'created') supplierCreated.push(entry);\n  if (d.itemsCorrected) itemsCorrected.push(entry);\n\n  switch (d.statusResult) {\n    case 'booked': booked.push(entry); break;\n    case 'verified': review.push({ ...entry, note: 'verified but dry-run' }); break;\n    case 'review': review.push(entry); break;\n    case 'no_pdf': noPdf.push(entry); break;\n    case 'failed': errors.push({ ...entry, error: d.statusError }); break;\n    default: break;\n  }\n}\n\nif (items.length === 0) {\n  return [{ json: { hasContent: false, summary: 'No invoices processed', items: [], booked, review, noPdf, supplierAssigned, supplierCreated, itemsCorrected, errors } }];\n}\n\nreturn [{ json: {\n  hasContent: true,\n  bookedCount: booked.length,\n  reviewCount: review.length,\n  noPdfCount: noPdf.length,\n  supplierAssignedCount: supplierAssigned.length,\n  supplierCreatedCount: supplierCreated.length,\n  itemsCorrectedCount: itemsCorrected.length,\n  errorCount: errors.length,\n  booked, review, noPdf, supplierAssigned, supplierCreated, itemsCorrected, errors,\n  dryRunNote: 'QA-R03 dry run - no real bookings made on testhandel'\n} }];"
      },
      "notes": "MODIFIED: removed email HTML generation (SMTP not available in QA env). Returns structured JSON for inspection."
    },
    {
      "id": "r03-if-content",
      "name": "IF: Has Content",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [5500, 300],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-content",
              "leftValue": "={{ $json.hasContent }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "r03-result",
      "name": "QA Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [5700, 250],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "notes": "REPLACED: Source sent email via SMTP. QA version returns JSON to webhook caller for inspection."
    },
    {
      "id": "r03-noop",
      "name": "No Content",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [5700, 400],
      "parameters": {}
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    },
    "Respond to Webhook": {
      "main": [[{ "node": "Constants", "type": "main", "index": 0 }]]
    },
    "Constants": {
      "main": [[{ "node": "GET: Unbooked Invoices", "type": "main", "index": 0 }]]
    },
    "GET: Unbooked Invoices": {
      "main": [[{ "node": "Code: Split Invoices", "type": "main", "index": 0 }]]
    },
    "Code: Split Invoices": {
      "main": [[{ "node": "Process One at a Time", "type": "main", "index": 0 }]]
    },
    "Process One at a Time": {
      "main": [
        [{ "node": "Code: Collect & Summarize", "type": "main", "index": 0 }],
        [{ "node": "Code: Find & Assign Supplier", "type": "main", "index": 0 }]
      ]
    },
    "Code: Find & Assign Supplier": {
      "main": [[{ "node": "IF: Supplier Not Found", "type": "main", "index": 0 }]]
    },
    "IF: Supplier Not Found": {
      "main": [
        [{ "node": "Code: Skip Web Search (Dry Run)", "type": "main", "index": 0 }],
        [{ "node": "GET: Invoice PDF", "type": "main", "index": 0 }]
      ]
    },
    "Code: Skip Web Search (Dry Run)": {
      "main": [[{ "node": "GET: Invoice PDF", "type": "main", "index": 0 }]]
    },
    "GET: Invoice PDF": {
      "main": [[{ "node": "Code: Prepare AI Request", "type": "main", "index": 0 }]]
    },
    "Code: Prepare AI Request": {
      "main": [[{ "node": "IF: Is E-Invoice", "type": "main", "index": 0 }]]
    },
    "IF: Is E-Invoice": {
      "main": [
        [{ "node": "PUT: E-Invoice Book", "type": "main", "index": 0 }],
        [{ "node": "IF: Has PDF for AI", "type": "main", "index": 0 }]
      ]
    },
    "PUT: E-Invoice Book": {
      "main": [[{ "node": "PUT: E-Invoice Checked", "type": "main", "index": 0 }]]
    },
    "PUT: E-Invoice Checked": {
      "main": [[{ "node": "PUT: E-Invoice OP", "type": "main", "index": 0 }]]
    },
    "PUT: E-Invoice OP": {
      "main": [[{ "node": "Code: E-Invoice Booked", "type": "main", "index": 0 }]]
    },
    "Code: E-Invoice Booked": {
      "main": [[{ "node": "Process One at a Time", "type": "main", "index": 0 }]]
    },
    "IF: Has PDF for AI": {
      "main": [
        [{ "node": "POST: Claude Vision", "type": "main", "index": 0 }],
        [{ "node": "PUT: Set Review Flag", "type": "main", "index": 0 }]
      ]
    },
    "POST: Claude Vision": {
      "main": [[{ "node": "Code: Parse AI & Prepare Corrections", "type": "main", "index": 0 }]]
    },
    "Code: Parse AI & Prepare Corrections": {
      "main": [[{ "node": "GET: Search Party by PDF Name", "type": "main", "index": 0 }]]
    },
    "GET: Search Party by PDF Name": {
      "main": [[{ "node": "IF: Items to Correct", "type": "main", "index": 0 }]]
    },
    "IF: Items to Correct": {
      "main": [
        [{ "node": "PUT: Correct Items", "type": "main", "index": 0 }],
        [{ "node": "Code: Rules Engine", "type": "main", "index": 0 }]
      ]
    },
    "PUT: Correct Items": {
      "main": [[{ "node": "POST: Reset Taxes", "type": "main", "index": 0 }]]
    },
    "POST: Reset Taxes": {
      "main": [[{ "node": "GET: Refreshed Invoice", "type": "main", "index": 0 }]]
    },
    "GET: Refreshed Invoice": {
      "main": [[{ "node": "Code: Rules Engine", "type": "main", "index": 0 }]]
    },
    "Code: Rules Engine": {
      "main": [[{ "node": "IF: Should Book", "type": "main", "index": 0 }]]
    },
    "IF: Should Book": {
      "main": [
        [{ "node": "PUT: Book to OP", "type": "main", "index": 0 }],
        [{ "node": "PUT: Set Review Flag", "type": "main", "index": 0 }]
      ]
    },
    "PUT: Book to OP": {
      "main": [[{ "node": "PUT: Status Checked", "type": "main", "index": 0 }]]
    },
    "PUT: Status Checked": {
      "main": [[{ "node": "PUT: Status OP Created", "type": "main", "index": 0 }]]
    },
    "PUT: Status OP Created": {
      "main": [[{ "node": "Code: Set Booked", "type": "main", "index": 0 }]]
    },
    "Code: Set Booked": {
      "main": [[{ "node": "Process One at a Time", "type": "main", "index": 0 }]]
    },
    "PUT: Set Review Flag": {
      "main": [[{ "node": "Code: Restore After Review", "type": "main", "index": 0 }]]
    },
    "Code: Restore After Review": {
      "main": [[{ "node": "Process One at a Time", "type": "main", "index": 0 }]]
    },
    "Code: Collect & Summarize": {
      "main": [[{ "node": "IF: Has Content", "type": "main", "index": 0 }]]
    },
    "IF: Has Content": {
      "main": [
        [{ "node": "QA Result", "type": "main", "index": 0 }],
        [{ "node": "No Content", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
